:root{

    --primaryColor: #6200ee;
    --pVarintColor: #3700b3;
    --secundaryColor: #03dac6;
    --sVarianColor: #018786;
    --background: #ffffff;
    --error: #b00020;


}


html {
    box-sizing: border-box;
    font-size: 62.5%;
    /**reset para rems --62.5% =10px
    rems unidad de medida para todas las pantallas*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    background-color: var(--background);
}


