:root{

    --primaryColor: #6200ee;
    --pVarintColor: #3700b3;
    --secundaryColor: #03dac6;
    --sVarianColor: #018786;
    --background: #ffffff;
    --error: #b00020;
    
    --fuentePrimary: 'Roboto', sans-serif;
    --fuenteSecundary: 'PT Sans', sans-serif;

}


html {
    box-sizing: border-box;
    font-size: 62.5%;
    /**reset para rems --62.5% =10px
    rems unidad de medida para todas las pantallas*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*GLOBALES*/
body{
    background-color: var(--background);
    position: relative;
}

h1{
    margin:0;
    font-family: var(--fuentePrimary);
    font-size: 3rem;
}
h2{
    margin:0;
    font-family: var(--fuentePrimary);
    font-size: 2.7rem;
}
h3{
    margin:0;
    font-family: var(--fuentePrimary);
    font-size: 2.5rem;
}
p{
    margin:0;
    font-family: var(--fuentePrimary);
    font-size: 1.4rem;
}
label{
    margin:0;
    font-family: var(--fuentePrimary);
    font-size: 1.4rem;
}


.anuncio{
    position: absolute;
    top: 2rem;
    left: 10rem;
    padding: 2rem 5rem;
    border-radius: 1.5rem;
}


.correcto{
    border: solid  0.1rem var(--sVarianColor);
    color: var(--sVarianColor);
}

.error{
    border: solid  0.1rem var(--error);
    color: var(--error);
    
}